/* VARIABLES */

:root {
    --background:#FAF2F3;
    --text:#000;
    --navbar:#1A4A73;
    --hover: #2A74B5;
    --container-blue: #D8E3F2;
    --book-container-blue: #99BCE0;
}

.darkmode {
    --background:#262A32;
    --text:#FAF2F3;
    --navbar:#15426C;
    --hover:#4E8ECA;
    --container-blue:#2D3F54;
    --book-container-blue:#395168;
}

/* MAIN LAYOUT */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    text-align: center;
    background-position: center;
    background-size: cover;
}

/* BACKGROUND */

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    display: grid;
    animation: moveDiagonal 60s linear infinite;
    z-index: -1;
    filter: blur(2px);
    
}
.background i {
    opacity: 0.5;
    margin: auto;
}

.background i:hover {
    font-size: 60px;
}

@keyframes moveDiagonal {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-600px, -600px);
  }
}

/* NAVBAR */

.navbar {
    width: 100%;
    background-color: var(--navbar);
    overflow: auto;
    text-align: center
}

.navbar a, .logout {
    font-weight: bold;
    float: left;
    color: #FFF;
    padding: .5em;
    margin: 0.5em;
    text-decoration: none;
    font-size: 22px;
    border-radius: 0.4em;
    background-color: var(--navbar);
    border: none;
    align-items: center;
}

.logout, .navbar p {
    color: #FFF;
    float: right;
    font-size: 23px;
}
.navbar p {
    font-size: 8px;
    height: 100%;
}

.navbar a:hover, .logout:hover {
    background-color: var(--hover);
}

#theme-switch {
    background-color: var(--navbar);
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    margin: 10px;
    font-size: 1.5em;
    border-radius: 50%;
    border: none;
    float: right;
}

#theme-switch:hover {
    background-color: var(--hover);
}

#theme-switch i:last-child {
    display: none;
}

.darkmode #theme-switch i:first-child {
    display: none;
}

.darkmode #theme-switch i:last-child {
    display: block;
}

/* FORMS */

.form-container {
    background-color: var(--container-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    height: auto;
    width: 18em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.form-container h1 {
    text-align: center;
    font-size: 36px;
    margin: 10px;
}

.form-container label {
    text-align: left;
    font-size: 1em;
    float: left;
}

.optional {
    float: right;
    color: rgb(124, 124, 124);
}

.form-container input {
    background-color: var(--book-container-blue);
    color: var(--text);
    width: 100%;
    border: none;
    border-radius: 8px;
    height: 2em;
    font-size: 1em;
    margin-bottom: 12px;
}

.form-container button {
    width: 60%;
}

.form-container select {
    width: 80%;
}

.form-container a {
    text-decoration: none;
    color: #2b9cff;
    font-weight: bold;
}

/* LIBRARY FUNCTIONS */

.library-functions {
    margin: auto;
    padding: 6px;
    width: 40%;
    height: auto;
    align-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--container-blue);
}

select, .search-form button {
    background-color: #FAF2F3;
    border: 2px solid var(--book-container-blue);
    border-radius: 16px;
    width: 6em;
    height: 2.8em;
    text-align: center;
    font-size: 0.9em;
    vertical-align: middle;
    font-weight: 500;
    overflow: hidden;
}

.search-form input {
    border: 2px solid var(--book-container-blue);
    background-color: #FAF2F3;
    padding-left: 10px;
    border-radius: 100px;
    width: 8em;
    height: 2em;
    font-size: 1em;
    vertical-align: middle;
}

/* CONTAINERS */

div.container {
    background-color: var(--container-blue);
    border-radius: 16px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

div.bottom-container {
    display: flex;
    margin: auto;
    width: 95%;
    height: 350px;
    justify-content: center;
}

div.stats-container {
    text-align: left;
    background-color: var(--container-blue);
    border-radius: 16px;
    height: 100%;
    width: 30%;
    margin: 1%;
}

div.stats-container p {
    margin: 2px;
    margin-left: 2.5%;
}

div.history-container {
    background-color: var(--container-blue);
    border-radius: 16px;
    height: 100%;
    width: 40%;
    margin: 10px;
    margin: 1%;
}

div.scrollable {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

div.history-record {
    background-color: var(--book-container-blue);
    border-radius: 16px;
    height: auto;
    margin: 8px;
    display: flex;
}

.history-cover {
    display: block;
    height: 120px;
    width: 84px;
    border-radius: 12px;
    object-fit: cover;
    margin: 8px;
}

.scrollable p {
    display: inline;
    vertical-align: middle;
}

/* BOOK CONTAINER */

div.book-container {
    background-color: var(--book-container-blue);
    padding: 8px;
    margin: 8px;
    height: 90%;
    width: 196px;
    border-radius: 12px;
    position: relative;
}

div.book-container img{
    display: block;
    height: 280px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

div.book-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    text-align: left;
}

.title {
    font-weight: 600;
    font-size: 1em;
}

.author {
    color: color-mix(in srgb, var(--text) 40%, rgb(128, 128, 128));
    font-size: 0.9em;
}

.return-date {
    font-style: italic;
    color: var(--hover);
}

.overdue {
    font-weight: 600;
    color: rgba(255, 0, 0, 0.646);
}

div.book-container button, .form-button {
    background-color: #FAF2F3;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: none;
    border-radius: 12px;
    font-size: large;
    font-weight: bold;
}

div.book-container button:hover, .form-button:hover, .search-form button:hover {
    background-color: var(--hover);
    color: var(--background);
}

div.book-container, button {
    transition-duration: 0.2s;
}

div.book-container:hover {
    box-shadow: 0 0 0 0 var(--hover), 0 0px 20px 0 var(--text);
}

/* DASHBOARD */

div.dashboard {
    width: 100%;
    display: flex;
    gap: 20px;
}

div.left-container {
    width: 28%;
    margin-left: 2.5%;
}

div.users {
    width: 65%;
    padding: 0;
}

div.admin-stats {
    background-color: var(--container-blue);
    width: 100%;
    border-radius: 16px;
    margin-top: 0.5em;
    height: 380px;
    text-align: left;
}

div.admin-stats p {
    margin: 2px;
    margin-left: 2.5%;
}

.admin-link {
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    color: var(--hover);
    font-weight: 600;
    text-align: center;
    margin-top: 0.5em;
    background-color: var(--container-blue);
    border: 2px solid var(--book-container-blue);
    vertical-align: middle;
    border-radius: 12px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.8em;
}

.profile i {
    font-size: 5em;
    margin-bottom: 4px;
    color: var(--hover);
}

.username {
    font-size: 1em;
    font-weight: bold;
    color: var(--hover);
    margin: 0;
}

.join-date{
    font-size: 0.8em;
    margin: 4px;
}

/* OTHER */

.welcome {
    font-size: 24px;
    font-weight: bold;
    margin: 0.4em;
}

.messages {
    display: none;
}

hr {
    margin: 8px;
}

button {
    cursor: pointer;
}

h1, h2, .filter-form, .search-form {
    text-align: left;
    margin: 0px;
    margin-left: 2.5%;
}

.filter-form, .search-form {
    text-align: left;
    display:inline;
}

.filter-form {
    width: 20%;
}

/* ALERT BOX */

.alert-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 25%;
    min-width: 20%;
    gap: 12px;
}

.alert {
    position: relative;
    padding: 12px 36px 12px 12px;
    border-radius: 8px;
    color: #FAF2F3;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.275);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.alert-type {
    width: 20%;
    height: 100%;
    font-weight: bold;
    text-align: left;
}

.alert-text {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.alert .dismiss {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5em;
    color: #ffffff;
    cursor: pointer;
}

.alert.error {
    background-color: rgb(255, 87, 87);
}

.alert.success {
    background-color: rgb(0, 188, 66);
}

.alert.warning {
    background-color: rgb(255, 223, 40);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
